.navbar {
  background: linear-gradient(0.25turn, #229ace, #5879d4, #2c18e4);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar-brand a{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  margin-right: 20px;
}

.nav-item .nav-link:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
